@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5 underline">CREATE YOUR OWN VAULT TEC VAULT!</h1>
    <a asp-controller="Home" asp-action="Vault" class="btn btn-primary btn-lg mt-5">Vaults</a>
    <a asp-controller="Home" asp-action="CreateEditVault" class="btn btn-secondary btn-lg mt-5">Create / Edit Vault</a>
    <a asp-controller="Home" asp-action="Dwellers" class="btn btn-outline-primary btn-lg mt-5">Dwellers</a>
    <a asp-controller="Home" asp-action="CreateEditDweller" class="btn btn-secondary btn-lg mt-5">Create / Edit Dwellers</a>
</div>

<div class="image-container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/12/Vault-Tec_Logo.svg" alt="Vault Tec Logo" class="img-fluid d-block mx-auto mt-5" />
</div>