@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="Vault" class="btn btn-primary">Vaults</a>
    <a asp-controller="Home" asp-action="CreateEditVault" class="btn btn-secondary">Create / Edit Vault</a>
</div>
